button {
  margin-left: 0rem;
}
.part1 {
  padding-left: 15px;
  padding-top: 5px;
  width:20%;
  height:25%;
  float:left;
  font-size: 14px;
  font-weight: bold;
}
.part2 {
  background-color: #7c7cea;
  width:20%;
  height:25%;
  float:left;
}
.part3 {
  background-color: #86ef86;
  width:20%;
  height:25%;
  float:left;
}
.part4 {background-color: #d2d287;
  width:20%;
  height:25%;
  float:left;
}

.part5 {background-color: #87d2b8;
  width:20%;
  height:25%;
  float:left;
}


mat-form-field {
  margin-right: 2px;
}
