button {
  margin-left: 1rem;
}
.part1 {

  padding-top: 5px;
  width:20%;
  height:25%;
  float:left;
  font-size: 14px;
  font-weight: bold;
}
.part2 {
  width:20%;
  height:25%;
  float:left;
}
.part3 {
  width:20%;
  height:25%;
  float:left;
}
.part4 {
  width:20%;
  height:25%;
  float:left;
}

.part5 {
  width:20%;
  height:25%;
  float:left;
}
.addContact{
  width:20%;
  height:25%;
  float:left;
}


.contact1 {
  width:45%;
  height:25%;
  float:left;
}
.contact2 {
  width:45%;
  height:25%;
  float:left;
}
.showContact{
  width:77%;
  height:25%;
  float:left;
}
/**********************************/

#wrapper {
  width: 100%;
  height:auto;
  margin:  3px;
}

#first {
  float:left;
  width: 100%;
  height: 50%;
  background: white;
  text-align: center;
}

#second  {
  float:left;
  width: 100%;
  height: 10%;
  background: white;
  text-align: center;
  padding-top:15px;
}
/************************************************/

.example-container {
  height: auto;
  width: 70%;
  overflow: auto;
  align-self: center;
  margin: 1rem auto;

}

table {
  alignment: center;
  width: 100%;
}

td.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}
td.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.matColumnDef{
  color: black;
  margin: 1rem auto;
  font-weight: bold;
  font-size: 14px;
  width: 35%;
}
.matColumnDef1{
  color: black;
  font-weight: bold;
  font-size: 14px;
  width: 35%;
}
