button {
  margin-left: 1rem;
}
.part1 {

  padding-top: 5px;
  width:20%;
  height:25%;
  float:left;
  font-size: 14px;
  font-weight: bold;
}
.part2 {
  width:20%;
  height:25%;
  float:left;
}
.part3 {
  width:20%;
  height:25%;
  float:left;
}
.part4 {
  width:20%;
  height:25%;
  float:left;
}

.part5 {
  width:20%;
  height:25%;
  float:left;
}
.addContact{
  width:20%;
  height:25%;
  float:left;
}
.showContact{
  width:77%;
  height:25%;
  float:left;
}
