<h2 >Création de fiche etablissement</h2>
<mat-horizontal-stepper [linear]="isLinear" labelPosition="bottom">
  <!-- step 1 formulaire  departement et type etablissement-->
  <mat-step [stepControl]="firstFormGroup" class="department">
    <ng-template matStepLabel><span>  Departemement </span></ng-template>
    <form [formGroup]="firstFormGroup" class="form-group">
      <mat-form-field>
        <mat-label>Departement</mat-label>
        <mat-select class="custom-select" formControlName="department">
          <mat-option *ngFor="let departement of listeDptmt" [value]="departement.Numero">
            {{departement.Numero + " " + departement.Libelle}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Type établissement</mat-label>
        <mat-select class="custom-select" formControlName="typeEtablissement">
          <mat-option   [value]="1">   Etablissement </mat-option>
          <mat-option   [value]="2">   Organisme </mat-option>
          <mat-option   [value]="3">   Internat </mat-option>
          <mat-option   [value]="4">   Fournisseur </mat-option>
          <mat-option   [value]="5">   Groupes scolaires </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div>
      <button [disabled]="!firstFormGroup.valid" class="btn btn-secondary" mat-button  matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <!-- step 2 formulaire  Coordonnées-->
  <mat-step  [stepControl]="secondFormGroup">
    <ng-template matStepLabel><span>  Coordonnées </span></ng-template>
<form [formGroup]="secondFormGroup"  class="form-group" >
<div> <!-- BEGINING OF BIG DIV -->
<div class="part1">
<!--  EXPORT WEB-->
             <mat-form-field   >
               <mat-label>Export web</mat-label>
               <mat-select   formControlName="exportweb"  >
                 <mat-option value="oui">oui</mat-option>
                 <mat-option value="non">non</mat-option>
               </mat-select>
             </mat-form-field> <br/>
<!--  PRESENCE PAPIER-->
            <mat-form-field  >
              <mat-label>Présence papier</mat-label>
                <mat-select    formControlName="presencepapier" >
                  <mat-option value="oui"   >oui</mat-option>
                  <mat-option value="non">non</mat-option>
                </mat-select>
            </mat-form-field> <br/>
<!--  OPTION PRINT -->
          <mat-form-field >
            <mat-label>Option Print</mat-label>
              <mat-select     formControlName="optionprint">
                <mat-option value="oui"   >oui</mat-option>
                <mat-option value="non">non</mat-option>
              </mat-select>
          </mat-form-field> <br/>
<!--  PRESENCE WEB -->
          <mat-form-field >
            <mat-label>Présence web</mat-label>
              <mat-select   formControlName="presenceweb">
                <mat-option value="oui"  >oui</mat-option>
                <mat-option value="non">non</mat-option>
              </mat-select>
          </mat-form-field><br/>
<!--  PRESENCE GRATUITE -->
          <mat-form-field  >
            <mat-label>Présence gratuite</mat-label>
              <mat-select   formControlName="presencegratuite">
                <mat-option value="oui"  >oui</mat-option>
                <mat-option value="non">non</mat-option>
              </mat-select>
          </mat-form-field><br/>
<!--  SOURCE DE MISE A JOUR -->
      <mat-form-field >
        <mat-label>Source de mise à jour</mat-label>
        <mat-select formControlName="SourceMaj" >
          <mat-option value="sans"    >Sans</mat-option>
          <mat-option *ngFor="let smaj of liSourceMaj" [value]="smaj.id">
            {{smaj.Liberlle}}
          </mat-option>
        </mat-select>
      </mat-form-field><br/>
<!--  DATE DE LA DERNIERE MODIFICATION -->
        <mat-form-field appearance="fill" >
          <mat-label>Date de dernière modification</mat-label>
          <input formControlName="dateDerniereModif" matInput placeholder="Date de dernière modification" readonly>
        </mat-form-field><br/>
<!--  DATE D'ENVOIE  DU MAIL DE MISE EN LIGNE -->
        <mat-form-field appearance="fill">
          <mat-label>Date d'envoie du mail de mise en ligne</mat-label>
          <input [formControl]="date" [matDatepicker]="picker1" matInput>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field><br/>
<!--  RETOUR LE :-->
        <mat-form-field appearance="fill">
          <mat-label>Retour le </mat-label>
          <input [formControl]="date" [matDatepicker]="picker2" formControlName="dateRetour" matInput>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field> <br/>
<!-- MAIL GESTION EDITO 1 :-->
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Mail gestion édito 1 </mat-label>
          <input  formControlName="mailGestionEdito1" matInput   placeholder="Email"   type="email"  >
        </mat-form-field>
</div>
<div class="part2">
     <!-- MAIL GESTION EDITO 2 :-->
           <mat-form-field class="example-full-width" appearance="fill">
             <mat-label>Mail gestion édito 2 </mat-label>
             <input  formControlName="mailGestionEdito2"    matInput   type="email"  >
           </mat-form-field><br/>
     <!-- HORS SECTEUR:-->
           <mat-form-field>
             <mat-label>Hors secteur</mat-label>
             <mat-select    formControlName="horsSecteur">
               <mat-option value="oui"  >oui</mat-option>
               <mat-option value="non">non</mat-option>
             </mat-select>
           </mat-form-field><br/>
<!-- DELEGUES:-->
           <mat-form-field>
             <mat-label>Délégué</mat-label>
             <mat-select formControlName="delegue">
               <mat-option value="Non rattaché">Non rattaché</mat-option>
               <mat-option *ngFor="let delegue of listeDelegue" [value]="delegue.id"  >
                 {{delegue.Prenom+ " " +delegue.Nom  }}
               </mat-option>
             </mat-select>
           </mat-form-field><br/>
<!-- TYPE ETABLISSEMENT:-->
           <mat-form-field>
             <mat-label>Type établissement</mat-label>
             <mat-select  formControlName="typeetablissement1">
               <mat-option *ngFor="let typeEtabl of listeTypeEtabl" [value]="typeEtabl.id"  >
                 {{typeEtabl.Libelle}}
               </mat-option>
             </mat-select>
           </mat-form-field><br/>
<!-- RUBRIQUE PRINCIPALE:
           <mat-form-field>
             <mat-label>Rubrique principale</mat-label>
             <mat-select formControlName="rubriqueprincipale">>
               <mat-option *ngFor="let delegue of listeDelegue" [value]="delegue.id">
                 {{delegue.Prenom + " " +delegue.Nom  }}
               </mat-option>
             </mat-select>
           </mat-form-field><br/>
   TYPE ENSEIGNEMENT PRIVE  -->
        <mat-form-field >
          <mat-label>Type enseignement privé</mat-label>
          <mat-select     formControlName="typeenseignementprive">
            <mat-option value="Laique"   >Laique</mat-option>
            <mat-option value="Catholique">Catholique</mat-option>
          </mat-select>
        </mat-form-field> <br/>
<!-- FORMATION -->
          <mat-form-field >
            <mat-select  formControlName="formation"   placeholder="Formation">
              <mat-label>Formation</mat-label>
              <mat-option value="classique">Classique</mat-option>
              <mat-option value="alternance">Alternance</mat-option>
              <mat-option value="les deux">Les deux</mat-option>
            </mat-select>
          </mat-form-field> <br/>
<!-- SIGLE:-->
           <mat-form-field appearance="fill" >
             <mat-label>Sigle</mat-label>
             <input formControlName="sigle" matInput  placeholder="Sigle" >
           </mat-form-field><br/>
<!-- DENOMINATION:-->
           <mat-form-field appearance="fill" >
             <mat-label>Dénomination</mat-label>
             <input formControlName="denomination" matInput placeholder="Dénomination" >
           </mat-form-field><br/>
<!-- EXTENSION DENOMINATION :-->
           <mat-form-field appearance="fill" >
             <mat-label>Extension dénomination</mat-label>
             <input formControlName="extensiondenomination" matInput  placeholder="Extension dénomination">
           </mat-form-field>


</div>
<div class="part3">
  <!-- DENOMINATION ABREGEE:-->
        <mat-form-field appearance="fill" >
          <mat-label>Dénomination abrégée</mat-label>
          <input formControlName="denominationabregee" matInput  placeholder="Dénomination abrégéé">
        </mat-form-field><br/>
<!-- ADRESSE1:-->
            <mat-form-field appearance="fill" >
              <mat-label>Adresse 1</mat-label>
              <input formControlName="adresse1" matInput placeholder="Adresse 1 ">
            </mat-form-field><br/>
<!-- ADRESSE2:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse 2</mat-label>
            <input formControlName="adresse2" matInput  placeholder="Adresse 2 ">
          </mat-form-field><br/>
<!-- ADRESSE3:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse 3</mat-label>
            <input formControlName="adresse3" matInput  placeholder="Adresse 3 ">
          </mat-form-field><br/>
<!-- CODE POSTAL:-->
          <mat-form-field appearance="fill" >
            <mat-label>Code postal</mat-label>
            <input formControlName="codepostal" matInput placeholder="Code postal">
          </mat-form-field><br/>
<!-- VILLE:-->

              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Ville</mat-label>
                <input [formControl]="villeCtrl" [matAutocomplete]="auto"
                       aria-label="Ville"
                       formControlName="ville"

                       matInput
                >
                <mat-autocomplete #auto="matAutocomplete"  >


                  <mat-option *ngFor="let town of filteredTown | async" [value]="town.Libelle">
                    <span>{{town.Libelle}} ({{town.Departements_Numero}})</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>  <br/>
<!-- CEDEX:-->
            <mat-form-field appearance="fill" >
              <mat-label>Cedex </mat-label>
              <input matInput placeholder="Cedex"  >
            </mat-form-field><br/>
<!-- PAYS:-->
            <mat-form-field appearance="fill" >
              <mat-label>Pays </mat-label>
              <input formControlName="pays" matInput placeholder="Pays">
            </mat-form-field><br/>
<!--  GESTION DES COORDONNEES GPS  -->
          <mat-form-field>
            <mat-label>Gestion des coordonnées GPS </mat-label>
            <mat-select   formControlName="gestionCoordonneesGps">
              <mat-option value="automatique"  >automatique</mat-option>
              <mat-option value="manuelle">manuelle</mat-option>
            </mat-select>
          </mat-form-field>

</div>
<div class="part4">
<!-- LATITUDE:-->
          <mat-form-field appearance="fill" >
            <mat-label>Latitude </mat-label>
            <input formControlName="latitude" matInput placeholder="Latitude">
          </mat-form-field><br/>
<!-- LONGITUDE:-->
          <mat-form-field appearance="fill" >
            <mat-label>Longitude  </mat-label>
            <input formControlName="longitude" matInput placeholder="Longitude">
          </mat-form-field><br/>
<!-- TELEPHONE:-->
          <mat-form-field appearance="fill" >
            <mat-label>Téléphone   </mat-label>
            <input formControlName="telephone" matInput   placeholder="Téléphone"  type="tel">
          </mat-form-field><br/>
<!-- FAX:-->
          <mat-form-field appearance="fill" >
            <mat-label>Fax    </mat-label>
            <input formControlName="fax" matInput  placeholder="Fax">
          </mat-form-field><br/>
<!-- Mail:-->
          <mat-form-field appearance="fill" >
            <mat-label>Mail  </mat-label>
            <input  formControlName="mail" matInput   placeholder="Email"    type="email">
          </mat-form-field><br/>
<!-- AUTRE Mail POUR L'EXTRANET:-->
          <mat-form-field appearance="fill" >
            <mat-label>Autre émail pour l'extranet</mat-label>
            <input formControlName="autremailExtranet" matInput   placeholder="Autre émail pour l'extranet"  type="email">
          </mat-form-field><br/>
<!-- WEB:-->
          <mat-form-field appearance="fill" >
            <mat-label>Web</mat-label>
            <input formControlName="web" matInput   placeholder="Web" type="text">
          </mat-form-field><br/>
<!-- FACEBOOK:-->
          <mat-form-field appearance="fill" >
            <mat-label>Facebook</mat-label>
            <input formControlName="facebook" matInput   placeholder="Facebook" type="text">
          </mat-form-field><br/>
<!-- NOMBRE D'ELEVES:-->
          <mat-form-field appearance="fill" >
            <mat-label>Nombre d'élèves</mat-label>
            <input formControlName="nbreEleve" matInput min="0"   placeholder="Nombre d'élèves" type="number">
          </mat-form-field>
</div>
<div class="part5">
<!--FAXING-->
          <mat-form-field>
            <mat-label>Faxing</mat-label>
            <mat-select   formControlName="faxing">
              <mat-option value="oui" >oui</mat-option>
              <mat-option value="non">non</mat-option>
            </mat-select>
          </mat-form-field> <br/>
<!--MAILLING-->
          <mat-form-field>
            <mat-label>Mailling</mat-label>
            <mat-select   formControlName="mailing">
              <mat-option value="oui"  >oui</mat-option>
              <mat-option value="non">non</mat-option>
            </mat-select>
          </mat-form-field> <br/>
<!-- DIOCESE:-->
          <mat-form-field>
            <mat-label>Diocèse</mat-label>
            <mat-select   formControlName="diocese">
              <mat-option *ngFor="let diocese of listeDioces" [value]="diocese.id">
                {{diocese.Libelle}}
              </mat-option>
            </mat-select>
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 1:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 1</mat-label>
            <input formControlName="adressepostal1" matInput   placeholder="Adresse postale 1"  type="text">
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 2:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 2</mat-label>
            <input formControlName="adressepostal2" matInput   placeholder="Adresse postale 2"  type="text">
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 3:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 3</mat-label>
            <input formControlName="adressepostal3" matInput   placeholder="Adresse postale 3"  type="text">
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 4:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 4</mat-label>
            <input formControlName="adressepostal4" matInput   placeholder="Adresse postale 4"  type="text">
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 5:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 5</mat-label>
            <input formControlName="adressepostal5" matInput   placeholder="Adresse postale 5"  type="text">
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 6:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 6</mat-label>
            <input formControlName="adressepostal6" matInput   placeholder="Adresse postale 6"  type="text">
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 7:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 7</mat-label>
            <input formControlName="adressepostal7" matInput   placeholder="Adresse postale 7"  type="text">
          </mat-form-field>
</div>

</div> <!--END BIG DIV-->
    </form>
    <div>
      <button class="btn btn-secondary" mat-button matStepperPrevious>Précedent</button>
      <button  [disabled]="!secondFormGroup.valid" class="btn btn-secondary" mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
<!-- step 3 formulaire  Contacts-->
<mat-step >
            <ng-template matStepLabel><span>  Contacts </span></ng-template>
               <div id="wrapper">
                     <div id="first">
                       <p>liste-Contacts</p>
                       <button (click)="openDialog()" mat-raised-button>Ajouter un contact</button>
                       <div class="example-container mat-elevation-z8"   >
                       <!--  <table width="25%" *ngIf="OpData.length>0"> -->
                         <table width="25%" >
                                     <thead>
                                     <tr style="background-color: #434348; color: white">
                                           <th scope="col">Prenom</th>
                                           <th scope="col">Nom</th>
                                           <th scope="col">Fonction</th>
                                           <th scope="col">Signataire</th>
                                           <th scope="col">Action</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr *ngFor="let contact of sample; let indexOfelement=index; ">
                                           <td>{{ contact.prenom}}</td>
                                           <td>{{ contact.nom}}</td>
                                           <td>{{ contact.fonction}}</td>
                                           <td>{{ contact.signataire}}</td>
                                           <td>
                                             <button (click)="openDialog()" mat-raised-button>Editer</button>
                                             <button (click)="deleteContact(indexOfelement)" mat-raised-button>Supprimer</button>
                                           </td>
                                     </tr>
                                     </tbody>
                         </table>
                       </div>
                     </div>
                     <div id="second">
                       <button class="btn btn-secondary" mat-button matStepperPrevious>Précedent</button>
                       <button   class="btn btn-secondary" mat-button matStepperNext>Suivant</button>
                     </div>
               </div>
</mat-step>
<!-- End step 3 formulaire  Contacts-->
<!-- step 4 formulaire  Ordres de paticipation-->
<mat-step>
              <ng-template matStepLabel><span>  Ordre de participation </span></ng-template>
              <div id="wrapper">
                <div id="first">
                  <p>liste-OP</p>
                  <button (click)="openDialogOp()" mat-raised-button>Ajouter un OP</button>
                  <div class="example-container mat-elevation-z8"  >
                    <table width="25%" >
                      <thead>
                      <tr style="background-color: #434348; color: white">
                        <th scope="col">N°OP</th>
                        <th scope="col">Date</th>
                        <th scope="col">Facturable</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Facturation</th>
                        <th scope="col">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let op of OpData; let indexOfelement=index; ">
                        <td>{{ op.NumOp}}</td>
                        <td>{{ op.dateSouscription}}</td>
                        <td>{{ op.Facturable}}</td>
                        <td>{{ op.etat}}</td>
                        <td>{{ op.facturation}}</td>
                        <td>
                          <button (click)="openDialog()" mat-raised-button>Editer</button>
                          <button (click)="deleteContact(indexOfelement)" mat-raised-button>Supprimer</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div id="second">
                  <button class="btn btn-secondary" mat-button matStepperPrevious>Précedent</button>
                  <button   class="btn btn-secondary" mat-button matStepperNext>Suivant</button>
                </div>
              </div>

</mat-step>



  <!-- step 5 formulaire  Insertions-->
  <mat-step>
    <ng-template matStepLabel><span>  Insertions </span></ng-template>
    <div id="wrapper">
      <div id="first">
        <p>liste-Insertion</p>
        <mat-form-field>
          <mat-label>Type d'insertion</mat-label>
          <mat-select  >
            <mat-option value="insertion modulaire"  >insertion modulaire</mat-option>
            <mat-option value="pub">publicité</mat-option>
            <mat-option value="insertion guide pro">insertion guid pro</mat-option>
          </mat-select>
        </mat-form-field>
                               <button (click)="openDialoginsert()" mat-raised-button>Ajouter</button>

        <div class="example-container mat-elevation-z8"  >
          <table width="25%" >
            <thead>
            <tr style="background-color: #434348; color: white">
              <th scope="col">Type</th>
              <th scope="col">Rubrique</th>
              <th scope="col">Département</th>
              <th scope="col">Publicité</th>
              <th scope="col">Tri</th>
              <th scope="col">Folio</th>
              <th scope="col">Placement</th>
              <th scope="col">Actif</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let insert of insertionData; let indexOfelement=index; ">
              <td>{{insert.type}}</td>
              <td> {{insert.rubrique}}</td>
              <td> {{insert.departement}}</td>
              <td> {{insert.appelpublicite}}</td>
              <td>{{insert.tri}}</td>
              <td> {{insert.folio}}</td>
              <td>{{insert.emplacementpublicite}}</td>
              <td> {{insert.actif}}</td>
              <td>
                <button  mat-raised-button>Editer</button>
                <button   mat-raised-button>Supprimer</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="second">
        <button class="btn btn-secondary" mat-button matStepperPrevious>Précedent</button>
        <button   class="btn btn-secondary" mat-button matStepperNext>Suivant</button>
      </div>
    </div>
  </mat-step>
  <!-- step 6 formulaire  Insertions Web-->
          <mat-step [stepControl]="insertionWebFormGroup">
                      <ng-template matStepLabel><span>  Insertions Web </span></ng-template>
            <form [formGroup]="insertionWebFormGroup">
              <mat-form-field appearance="fill" >
                <mat-label>Logo Liste</mat-label>
                <input formControlName="logoliste" matInput     type="text"/>
              </mat-form-field><br>

              <mat-form-field appearance="fill" >
                <mat-label>Logo Fiche</mat-label>
                <input formControlName="logofiche" matInput     type="text"/>
              </mat-form-field><br>


              Diaporama : <mat-checkbox formControlName="diaporama"></mat-checkbox><br>




              <mat-form-field>
                <mat-label>Mots Clés</mat-label>
                <textarea   formControlName="motscles"    matInput placeholder="Informations commerciales">    </textarea>
              </mat-form-field>
            </form>
              <div>
                <button class="btn btn-secondary" mat-button matStepperPrevious>Précedent</button>
                 <button class="btn btn-secondary" mat-button matStepperNext>Suivant</button>
             </div>
          </mat-step>
  <!-- step 7 formulaire  Liens -->
        <mat-step>
          <ng-template matStepLabel><span>  Liens</span></ng-template>
          Liens de l'etablisssement
          <div>
            <button class="btn btn-secondary" mat-button matStepperPrevious>Précedent</button>
            <button class="btn btn-secondary" mat-button matStepperNext>Suivant</button>
          </div>
        </mat-step>
  <!-- step 8 formulaire  Sites  -->
<mat-step [stepControl]="siteFormGroup">
              <ng-template matStepLabel><span>  Sites </span></ng-template>
                     <form [formGroup]="siteFormGroup" class="form-group" >
                       <mat-form-field>
                         <mat-label>Etat web</mat-label>
                         <mat-select  formControlName="etatWeb" matNativeControl  >
                           <mat-option value="Actif">Actif</mat-option>
                           <mat-option value="Inactif">Inactif</mat-option>
                           <mat-option value="Refus">Refus</mat-option>
                         </mat-select>
                       </mat-form-field><br>

                       <mat-form-field appearance="fill" >
                         <mat-label>Type de site</mat-label>
                         <input formControlName="typeSite" matInput   placeholder="Type de site"  type="text"/>
                       </mat-form-field><br>

                       <mat-form-field appearance="fill" >
                         <mat-label>Url</mat-label>
                         <input formControlName="urlSite" matInput   placeholder="Url"  type="text"/>
                       </mat-form-field><br>
                         site sous Oxatis : <mat-checkbox formControlName="siteOxatis"></mat-checkbox>
                         site sous Wordpress : <mat-checkbox formControlName="siteWordpress"></mat-checkbox>
                         Hébergement mensuelisé : <mat-checkbox formControlName="HebergementMensuel"></mat-checkbox>
                        <br>
                          site responsive design: <mat-checkbox formControlName="siteResponsiveDesign"></mat-checkbox>
                        <br>
                         site avec Actualités : <mat-checkbox formControlName="siteActualite"></mat-checkbox>
                         Offres d'emplois : <mat-checkbox formControlName="offresEmplois"></mat-checkbox>
                         Place disponible : <mat-checkbox formControlName="placeDisponible"></mat-checkbox>
                        <br>
                       <mat-form-field>
                          <mat-label>Numéro OP</mat-label>
                         <input formControlName="numeroOp" matInput placeholder="Numéro OP" type="text"/>
                       </mat-form-field>

                       <mat-form-field>
                         <mat-label>Statut</mat-label>
                         <mat-select  formControlName="statut" matNativeControl  >
                           <mat-option value="attente">en attente</mat-option>
                           <mat-option selected="selected" value="debloque">débloquée</mat-option>
                         </mat-select>
                       </mat-form-field><br>

                       <mat-form-field appearance="fill">
                         <mat-label>Date de première mise en ligne</mat-label>
                         <input [formControl]="date" [matDatepicker]="picker3"  formControlName="dateFirstMAJ" matInput>
                         <mat-datepicker-toggle [for]="picker3" matSuffix></mat-datepicker-toggle>
                         <mat-datepicker #picker3></mat-datepicker>
                       </mat-form-field><br/>
                       <mat-form-field appearance="fill">
                         <mat-label>Date de première mise en ligne</mat-label>
                         <input [formControl]="date" [matDatepicker]="picker4"  formControlName="dateEndMAJ" matInput>
                         <mat-datepicker-toggle [for]="picker4" matSuffix></mat-datepicker-toggle>
                         <mat-datepicker #picker4></mat-datepicker>
                       </mat-form-field><br/>  <br>
                       <mat-form-field>
                         <mat-label>Commentaires</mat-label>
                         <textarea  formControlName="commentaire"    matInput placeholder="Commentaires">    </textarea>
                       </mat-form-field>
                     </form>
              <div>
                <button class="btn btn-secondary" mat-button matStepperPrevious>Précedent</button>
                <button class="btn btn-secondary" mat-button matStepperNext>Suivant</button>
              </div>
</mat-step>
  <!-- step   formulaire  Bannière -->
<mat-step>
    <ng-template matStepLabel><span>  Bannière</span></ng-template>
    Bannière de l'établissement




    <div>
      <button class="btn btn-secondary" mat-button matStepperPrevious>Précedent</button>
      <button class="btn btn-secondary" mat-button matStepperNext>Suivant</button>
    </div>
</mat-step>
  <!-- step 9 formulaire  Recap de la fiche avant validation   -->
<mat-step>
    <ng-template matStepLabel><span>  Récapitulatif de la fiche </span></ng-template>
    Recap de la fiche avant validation
    <div>
      <button class="btn btn-secondary" mat-button matStepperPrevious>Précedent</button>
      <button (click)="submit()" class="btn btn-secondary" mat-button>Submit</button>
    </div>
</mat-step>

</mat-horizontal-stepper>
