<h2 >Création de fiche etablissement</h2>
<mat-horizontal-stepper [linear]="isLinear" labelPosition="bottom">
  <!-- step 1 formulaire  departement et type etablissement-->
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel><span>  Departemement </span></ng-template>
    <form [formGroup]="firstFormGroup">
      <mat-form-field>
        <mat-label>Departement</mat-label>
        <mat-select class="custom-select" formControlName="department">
          <mat-option *ngFor="let departement of listeDptmt" [value]="departement.Numero">
            {{departement.Numero + " " + departement.Libelle}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Type établissement</mat-label>
        <mat-select class="custom-select" formControlName="typeEtablissement">
          <mat-option *ngFor="let typeEtabli of typeEta" [value]="typeEtabli.value">
            {{typeEtabli.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div>
      <button [disabled]="!firstFormGroup.valid" class="btn btn-primary" mat-button  matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <!-- step 2 formulaire  Coordonnées-->
  <mat-step  [stepControl]="secondFormGroup">
    <ng-template matStepLabel><span>  Coordonnées </span></ng-template>
<form [formGroup]="secondFormGroup">
<div> <!-- BEGINING OF BIG DIV -->
<div class="part1">
<!--  EXPORT WEB-->
             <mat-form-field   >
               <mat-label>Export web</mat-label>
               <mat-select   formControlName="exportweb"  >
                 <mat-option value="oui">oui</mat-option>
                 <mat-option value="non">non</mat-option>
               </mat-select>
             </mat-form-field> <br/>
<!--  PRESENCE PAPIER-->
            <mat-form-field  >
              <mat-label>Présence papier</mat-label>
                <mat-select    formControlName="presencepapier" >
                  <mat-option value="oui"   >oui</mat-option>
                  <mat-option value="non">non</mat-option>
                </mat-select>
            </mat-form-field> <br/>
<!--  OPTION PRINT -->
          <mat-form-field >
            <mat-label>Option Print</mat-label>
              <mat-select     formControlName="optionprint">
                <mat-option value="oui"   >oui</mat-option>
                <mat-option value="non">non</mat-option>
              </mat-select>
          </mat-form-field> <br/>
<!--  PRESENCE WEB -->
          <mat-form-field >
            <mat-label>Présence web</mat-label>
              <mat-select   formControlName="presenceweb">
                <mat-option value="oui"  >oui</mat-option>
                <mat-option value="non">non</mat-option>
              </mat-select>
          </mat-form-field><br/>
<!--  PRESENCE GRATUITE -->
          <mat-form-field  >
            <mat-label>Présence gratuite</mat-label>
              <mat-select   formControlName="presencegratuite">
                <mat-option value="oui"  >oui</mat-option>
                <mat-option value="non">non</mat-option>
              </mat-select>
          </mat-form-field><br/>
<!--  SOURCE DE MISE A JOUR -->
      <mat-form-field >
        <mat-label>Source de mise à jour</mat-label>
        <mat-select formControlName="SourceMaj" >
          <mat-option value="sans"    >Sans</mat-option>
          <mat-option *ngFor="let smaj of li" [value]="smaj.id">
            {{smaj.Libelle}}
          </mat-option>
        </mat-select>
      </mat-form-field><br/>
<!--  DATE DE LA DERNIERE MODIFICATION -->
        <mat-form-field appearance="fill" >
          <mat-label>Date de dernière modification</mat-label>
          <input formControlName="dateDerniereModif" matInput placeholder="Date de dernière modification" readonly>
        </mat-form-field><br/>
<!--  DATE D'ENVOIE  DU MAIL DE MISE EN LIGNE -->
        <mat-form-field appearance="fill">
          <mat-label>Date d'envoie du mail de mise en ligne</mat-label>
          <input [formControl]="date" [matDatepicker]="picker1" matInput>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field><br/>
<!--  RETOUR LE :-->
        <mat-form-field appearance="fill">
          <mat-label>Retour le </mat-label>
          <input [formControl]="date" [matDatepicker]="picker2" formControlName="dateRetour" matInput>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field> <br/>
<!-- MAIL GESTION EDITO 1 :-->
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Mail gestion édito 1 </mat-label>
          <input  formControlName="mailGestionEdito1" matInput   placeholder="Email"   type="email"  >
        </mat-form-field>
</div>
<div class="part2">
     <!-- MAIL GESTION EDITO 2 :-->
           <mat-form-field class="example-full-width" appearance="fill">
             <mat-label>Mail gestion édito 2 </mat-label>
             <input  formControlName="mailGestionEdito2"    matInput   type="email"  >
           </mat-form-field><br/>
     <!-- HORS SECTEUR:-->
           <mat-form-field>
             <mat-label>Hors secteur</mat-label>
             <mat-select    formControlName="horsSecteur">
               <mat-option value="oui"  >oui</mat-option>
               <mat-option value="non">non</mat-option>
             </mat-select>
           </mat-form-field><br/>
<!-- DELEGUES:-->
           <mat-form-field>
             <mat-label>Délégué</mat-label>
             <mat-select formControlName="delegue">
               <mat-option value="Non rattaché">Non rattaché</mat-option>
               <mat-option *ngFor="let delegue of listeDelegue" [value]="delegue.id"  >
                 {{delegue.Prenom + " " +delegue.Nom  }}
               </mat-option>
             </mat-select>
           </mat-form-field><br/>
<!-- TYPE ETABLISSEMENT:-->
           <mat-form-field>
             <mat-label>Type établissement</mat-label>
             <mat-select  formControlName="typeetablissement1">
               <mat-option *ngFor="let typeEtabl of listeTypeEtabl" [value]="typeEtabl.id"  >
                 {{typeEtabl.Libelle}}
               </mat-option>
             </mat-select>
           </mat-form-field><br/>
<!-- RUBRIQUE PRINCIPALE:-->
           <mat-form-field>
             <mat-label>Rubrique principale</mat-label>
             <mat-select formControlName="rubriqueprincipale">>
               <mat-option value=""    >   </mat-option>
               <mat-option *ngFor="let delegue of listeDelegue" [value]="delegue.id">
                 {{delegue.Prenom + " " +delegue.Nom  }}
               </mat-option>
             </mat-select>
           </mat-form-field><br/>
<!--  TYPE ENSEIGNEMENT PRIVE  -->
        <mat-form-field >
          <mat-label>Type enseignement privé</mat-label>
          <mat-select     formControlName="typeenseignementprive">
            <mat-option value="Laique"   >Laique</mat-option>
            <mat-option value="Catholique">Catholique</mat-option>
          </mat-select>
        </mat-form-field> <br/>
<!-- FORMATION -->
          <mat-form-field >
            <mat-select  formControlName="formation"   placeholder="Formation">
              <mat-label>Formation</mat-label>
              <mat-option value="classique">Classique</mat-option>
              <mat-option value="alternance">Alternance</mat-option>
              <mat-option value="les deux">Les deux</mat-option>
            </mat-select>
          </mat-form-field> <br/>
<!-- SIGLE:-->
           <mat-form-field appearance="fill" >
             <mat-label>Sigle</mat-label>
             <input formControlName="sigle" matInput  placeholder="Sigle" >
           </mat-form-field><br/>
<!-- DENOMINATION:-->
           <mat-form-field appearance="fill" >
             <mat-label>Dénomination</mat-label>
             <input formControlName="denomination" matInput placeholder="Dénomination" >
           </mat-form-field><br/>
<!-- EXTENSION DENOMINATION :-->
           <mat-form-field appearance="fill" >
             <mat-label>Extension dénomination</mat-label>
             <input formControlName="extensiondenomination" matInput  placeholder="Extension dénomination">
           </mat-form-field>


</div>
<div class="part3">
  <!-- DENOMINATION ABREGEE:-->
        <mat-form-field appearance="fill" >
          <mat-label>Dénomination abrégée</mat-label>
          <input formControlName="denominationabregee" matInput  placeholder="Dénomination abrégéé">
        </mat-form-field><br/>
<!-- ADRESSE1:-->
            <mat-form-field appearance="fill" >
              <mat-label>Adresse 1</mat-label>
              <input formControlName="adresse1" matInput placeholder="Adresse 1 ">
            </mat-form-field><br/>
<!-- ADRESSE2:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse 2</mat-label>
            <input formControlName="adresse2" matInput  placeholder="Adresse 2 ">
          </mat-form-field><br/>
<!-- ADRESSE3:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse 3</mat-label>
            <input formControlName="adresse3" matInput  placeholder="Adresse 3 ">
          </mat-form-field><br/>
<!-- CODE POSTAL:-->
          <mat-form-field appearance="fill" >
            <mat-label>Code postal</mat-label>
            <input formControlName="codepostal" matInput placeholder="Code postal">
          </mat-form-field><br/>
<!-- VILLE:-->
            <mat-form-field appearance="fill" >
              <mat-label>Ville</mat-label>
              <input formControlName="ville" matInput placeholder="VILLE">
            </mat-form-field><br/>
<!-- CEDEX:-->
            <mat-form-field appearance="fill" >
              <mat-label>Cedex </mat-label>
              <input matInput placeholder="Cedex"  >
            </mat-form-field><br/>
<!-- PAYS:-->
            <mat-form-field appearance="fill" >
              <mat-label>Pays </mat-label>
              <input formControlName="pays" matInput placeholder="Pays">
            </mat-form-field><br/>
<!--  GESTION DES COORDONNEES GPS  -->
          <mat-form-field>
            <mat-label>Gestion des coordonnées GPS </mat-label>
            <mat-select   formControlName="gestionCoordonneesGps">
              <mat-option value="automatique"  >automatique</mat-option>
              <mat-option value="manuelle">manuelle</mat-option>
            </mat-select>
          </mat-form-field>

</div>
<div class="part4">
<!-- LATITUDE:-->
          <mat-form-field appearance="fill" >
            <mat-label>Latitude </mat-label>
            <input formControlName="latitude" matInput placeholder="Latitude">
          </mat-form-field><br/>
<!-- LONGITUDE:-->
          <mat-form-field appearance="fill" >
            <mat-label>Longitude  </mat-label>
            <input formControlName="longitude" matInput placeholder="Longitude">
          </mat-form-field><br/>
<!-- TELEPHONE:-->
          <mat-form-field appearance="fill" >
            <mat-label>Téléphone   </mat-label>
            <input formControlName="telephone" matInput   placeholder="Téléphone"  type="tel">
          </mat-form-field><br/>
<!-- FAX:-->
          <mat-form-field appearance="fill" >
            <mat-label>Fax    </mat-label>
            <input formControlName="fax" matInput  placeholder="Fax">
          </mat-form-field><br/>
<!-- Mail:-->
          <mat-form-field appearance="fill" >
            <mat-label>Mail  </mat-label>
            <input  formControlName="mail" matInput   placeholder="Email"    type="email">
          </mat-form-field><br/>
<!-- AUTRE Mail POUR L'EXTRANET:-->
          <mat-form-field appearance="fill" >
            <mat-label>Autre émail pour l'extranet</mat-label>
            <input formControlName="autremailExtranet" matInput   placeholder="Autre émail pour l'extranet"  type="email">
          </mat-form-field><br/>
<!-- WEB:-->
          <mat-form-field appearance="fill" >
            <mat-label>Web</mat-label>
            <input formControlName="web" matInput   placeholder="Web" type="text">
          </mat-form-field><br/>
<!-- FACEBOOK:-->
          <mat-form-field appearance="fill" >
            <mat-label>Facebook</mat-label>
            <input formControlName="facebook" matInput   placeholder="Facebook" type="text">
          </mat-form-field><br/>
<!-- NOMBRE D'ELEVES:-->
          <mat-form-field appearance="fill" >
            <mat-label>Nombre d'élèves</mat-label>
            <input formControlName="nbreEleve" matInput min="0"   placeholder="Nombre d'élèves" type="number">
          </mat-form-field>
</div>
<div class="part5">
<!--FAXING-->
          <mat-form-field>
            <mat-label>Faxing</mat-label>
            <mat-select   formControlName="faxing">
              <mat-option value="oui" >oui</mat-option>
              <mat-option value="non">non</mat-option>
            </mat-select>
          </mat-form-field> <br/>
<!--MAILLING-->
          <mat-form-field>
            <mat-label>Mailling</mat-label>
            <mat-select   formControlName="mailing">
              <mat-option value="oui"  >oui</mat-option>
              <mat-option value="non">non</mat-option>
            </mat-select>
          </mat-form-field> <br/>
<!-- DIOCESE:-->
          <mat-form-field>
            <mat-label>Diocèse</mat-label>
            <mat-select   formControlName="diocese">
              <mat-option *ngFor="let diocese of listeDioces" [value]="diocese.id">
                {{diocese.Libelle}}
              </mat-option>
            </mat-select>
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 1:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 1</mat-label>
            <input formControlName="adressepostal1" matInput   placeholder="Adresse postale 1"  type="text">
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 2:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 2</mat-label>
            <input formControlName="adressepostal2" matInput   placeholder="Adresse postale 2"  type="text">
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 3:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 3</mat-label>
            <input formControlName="adressepostal3" matInput   placeholder="Adresse postale 3"  type="text">
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 4:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 4</mat-label>
            <input formControlName="adressepostal4" matInput   placeholder="Adresse postale 4"  type="text">
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 5:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 5</mat-label>
            <input formControlName="adressepostal5" matInput   placeholder="Adresse postale 5"  type="text">
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 6:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 6</mat-label>
            <input formControlName="adressepostal6" matInput   placeholder="Adresse postale 6"  type="text">
          </mat-form-field><br/>
<!-- ADRESSE POSTALE 7:-->
          <mat-form-field appearance="fill" >
            <mat-label>Adresse postale 7</mat-label>
            <input formControlName="adressepostal7" matInput   placeholder="Adresse postale 7"  type="text">
          </mat-form-field>
</div>

</div> <!--END BIG DIV-->
    </form>
    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
      <button  [disabled]="!secondFormGroup.valid" class="btn btn-primary" mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
<!-- step 3 formulaire  Contacts-->
  <mat-step>
    <ng-template matStepLabel><span>  Contacts </span></ng-template>
    Conctacts de l'etablisssement
    <form [formGroup]="secondFormGroup">
<!-- CIVILITE:-->
                  <mat-form-field>
                    <mat-label>Civilité</mat-label>
                    <mat-select>
                      <mat-option value="Monsieur"  >Monsieur</mat-option>
                      <mat-option value="Madame"  >Madame</mat-option>
                    </mat-select>
                  </mat-form-field><br/>
<!-- PRENOM:-->
                  <mat-form-field appearance="fill" >
                    <mat-label>Prénom</mat-label>
                    <input matInput placeholder="Prénom"   type="text">
                  </mat-form-field><br/>
<!-- NOM:-->
                  <mat-form-field appearance="fill" >
                    <mat-label>Nom</mat-label>
                    <input matInput placeholder="Nom"   type="text">
                  </mat-form-field><br/>
<!-- FONCTION:-->
                  <mat-form-field appearance="fill" >
                    <mat-label>Fonction</mat-label>
                    <input matInput placeholder="Fonction"   type="text">
                  </mat-form-field><br/>
<!-- SIGNATAIRE:-->
                  <mat-form-field>
                    <mat-label>Signataire</mat-label>
                    <mat-select required>
                      <mat-option value="oui"  >Oui</mat-option>
                      <mat-option value="non"  >Non</mat-option>
                    </mat-select>
                  </mat-form-field><br/>
<!-- FONCTION:-->
                  <mat-form-field appearance="fill" >
                    <mat-label>Mail</mat-label>
                    <input matInput placeholder="Mail"   type="email">
                  </mat-form-field><br/>
<!-- TELEPHONE:-->
                  <mat-form-field appearance="fill" >
                    <mat-label>Téléphone</mat-label>
                    <input matInput placeholder="Téléphone"   type="tel">
                  </mat-form-field><br/>
<!-- INFORMATIONS COMPLEMENTAIRES :-->
                  <mat-form-field>
                    <textarea matInput placeholder="Informations commerciales"></textarea>
                  </mat-form-field><br/>




    </form>
      <div>
        <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
        <button class="btn btn-primary" mat-button matStepperNext>Suivant</button>
      </div>

  </mat-step>
<!-- step 4 formulaire  Ordres de paticipation-->
  <mat-step>
    <ng-template matStepLabel><span>  Ordres de paticipation </span></ng-template>

    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <mat-list>
      <mat-list-item><strong>Name:</strong> {{ this.firstFormGroup.value.name }}</mat-list-item>
      <mat-list-item><strong>Description:</strong> {{ this.firstFormGroup.value.description }}</mat-list-item>
      <mat-list-item><strong>Amount:</strong> {{ this.secondFormGroup.value.amount }}</mat-list-item>
      <mat-list-item><strong>Stock:</strong> {{ this.secondFormGroup.value.stock }}</mat-list-item>
    </mat-list>

    Ordres de paticipation de l'etablisssement
    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
      <button class="btn btn-primary" mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <!-- step 5 formulaire  Insertions-->
  <mat-step>
    <ng-template matStepLabel><span>  Insertions </span></ng-template>
    Insertions de l'etablisssement
    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
      <button class="btn btn-primary" mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <!-- step 6 formulaire  Insertions Web-->
  <mat-step>
    <ng-template matStepLabel><span>  Insertions Web </span></ng-template>
    Insertions Web de l'etablisssement
    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
      <button class="btn btn-primary" mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <!-- step 7 formulaire  Liens -->
  <mat-step>
    <ng-template matStepLabel><span>  Liens</span></ng-template>
    Liens de l'etablisssement
    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
      <button class="btn btn-primary" mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <!-- step 8 formulaire  Zone de dialogu -->
  <mat-step>
    <ng-template matStepLabel><span>  Zone de dialogue</span></ng-template>
    Zone de dialogue de l'etablisssement
    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
      <button class="btn btn-primary" mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <!-- step 9 formulaire  Statut-->
  <mat-step>
    <ng-template matStepLabel><span>  Statut</span></ng-template>
    Statut de l'etablisssement
    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
      <button class="btn btn-primary" mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <!-- step 10 formulaire  Editions précedentes  -->
  <mat-step>
    <ng-template matStepLabel><span>  Editions précedentes </span></ng-template>
    Editions précedentes de l'etablisssement
    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
      <button class="btn btn-primary" mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <!-- step 11 formulaire  Sites  -->
  <mat-step>
    <ng-template matStepLabel><span>  Sites </span></ng-template>
    Sites de l'etablisssement
    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
      <button class="btn btn-primary" mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <!-- step 12 formulaire  Bannières  -->
  <mat-step>
    <ng-template matStepLabel><span>  Bannières </span></ng-template>
    Bannières de l'etablisssement
    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
      <button class="btn btn-primary" mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <!-- step 13 formulaire  Diffusion  -->
  <mat-step>
    <ng-template matStepLabel><span>  Diffusion </span></ng-template>
    Diffusion de l'etablisssement
    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
      <button class="btn btn-primary" mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <!-- step 14 formulaire  Recap de la fiche avant validation   -->
  <mat-step>
    <ng-template matStepLabel><span>  Récapitulatif de la fiche </span></ng-template>
    Recap de la fiche avant validation
    <div>
      <button class="btn btn-primary" mat-button matStepperPrevious>Précedent</button>
      <button (click)="submit()" class="btn btn-primary" mat-button>Submit</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
