
<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example"  *ngIf="authenticationService.isAuthenticated">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/Accueil">ONPC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04" >
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <!--
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Clients</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown04">
            <li><a class="dropdown-item" href="#">Créer</a></li>
            <li><a class="dropdown-item" href="#">Rechercher</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Commercial</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown05">
            <li><a class="dropdown-item" href="#">Renouvellement</a></li>
            <li><a class="dropdown-item" href="#">Prospects</a></li>
            <li><a class="dropdown-item" href="#">Bordereaux</a></li>
            <li><a class="dropdown-item" href="#">Echéancier</a></li>
            <li><a class="dropdown-item" href="#">Refus</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown" aria-expanded="false">Administration</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown06">
            <li><a class="dropdown-item" href="#">Tables</a></li>
            <li><a class="dropdown-item" href="#">Diplômes</a></li>
            <li><a class="dropdown-item" href="#">Maintenance</a></li>
            <li><a class="dropdown-item" href="#">Traitement</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown" aria-expanded="false">Utilisateurs</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown07">
            <li><a class="dropdown-item"  routerLink="/CreateUser">Créer</a></li>
            <li><a class="dropdown-item" routerLink="/FindUser">Rechercher</a></li>
          </ul>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item pointer">
            <a (click)="logout()" class="nav-link"> Deconnexion</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
