.example-container {
  height: auto;
  width: 70%;
  overflow: auto;
  align-self: center;
  margin: 5rem auto;

}

table {
  alignment: center;
  width: 100%;
}

td.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}
td.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.matColumnDef{
  color: black;
  margin: 1rem auto;
  font-weight: bold;
  font-size: 14px;
  width: 15%;
}
.matColumnDef1{
  color: black;
  font-weight: bold;
  font-size: 14px;
  width: 35%;
}
