<p>liste-user</p>

{{message}}
<div class="example-container mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table>
 <!-- Ordre Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef class="matColumnDef" mat-header-cell> No. </th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

 <!-- Prenom Column -->
    <ng-container matColumnDef="Prenom" >
      <th *matHeaderCellDef class="matColumnDef" mat-header-cell> Prenom </th>
      <td *matCellDef="let element" mat-cell> {{element.Prenom}} </td>
    </ng-container>

<!-- Nom Column -->
    <ng-container matColumnDef="Nom"  >
      <th *matHeaderCellDef class="matColumnDef" mat-header-cell> Nom </th>
      <td *matCellDef="let element" mat-cell> {{element.Nom}} </td>
    </ng-container>

<!-- Rôle Column -->
    <ng-container matColumnDef="TypeUtilisateur">
      <th *matHeaderCellDef class="matColumnDef" mat-header-cell> Rôle </th>
      <td *matCellDef="let element" mat-cell> {{element.TypeUtilisateur}} </td>
    </ng-container>
<!-- Status Column -->
    <ng-container matColumnDef="Status">
      <th *matHeaderCellDef class="matColumnDef" mat-header-cell> Status </th>
      <td *matCellDef="let element" mat-cell> {{element.Status}} </td>
    </ng-container>
 <!-- Action Column -->
    <ng-container matColumnDef="Action">
      <th *matHeaderCellDef class="matColumnDef1" mat-header-cell> Action </th>
      <td *matCellDef="let element" mat-cell>
        <button  (click)="editUser(element.id) " class="btn btn-outline-primary" >{{element.Status=== 'active' ? 'Desactiver' : 'Activer'}}</button>
        <button  [routerLink]="['/updateUser',element.id]"  class="btn btn-outline-primary">Modifier</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" class="example-detail-row" mat-row></tr>
  </table>
</div>
